#dashboard {
    width: 90%!important;
}

#jumboContainer {
    width: 100%!important;
}

#jumbo {
    background: url('./bacteria_by_filterforgedotcomWideLowConstrast.png') no-repeat center center;
    border-radius: 0%!important;
}

td {
    padding: 3px;
}

.panel {
    border-color: #4E6172;
}

#panHead {
    color: white;
    background-color: #4E6172;
    border-color: #4E6172;
}

.well {
    background-color: rgb(159, 177, 192);
}

h1 {
    color: #D57500!important;
    background: transparent!important;
    text-shadow: 0px 3px 3px rgba(0,0,0,.5);
    font-family: Tahoma;
}

p {
    color: #DBCA69!important;
    text-shadow: 0px 3px 3px rgba(0,0,0,.5);
    font-family: Tahoma;
}